---
import LandingPLayout from '../layouts/LandingPLayout.astro'
---

<LandingPLayout title="Test Vocacional">

	

	<!-- hero -->
	<div class="w-full min-h-screen grid place-items-center">
		<div class="w-full max-w-screen-lg">
			<div class="mb-6">
				<span class="inline-flex items-center rounded-[64px] border text-center font-semibold transition-all duration-300 ease-in-out h-7 px-3 py-1 text-sm border-rose-300 bg-rose-50 text-rose-600">100% Gratuito y Fácil de Usar</span>
			</div>
			<h1 class="font-onest text-5xl font-semibold">Explora tu futuro profesional con un test vocacional preciso, rápido y adaptado a ti.</h1>
			<p class="font-onest  mt-8">
				Vocaxion es un innovador test vocacional impulsado por inteligencia artificial, diseñado para ayudar a la comunidad educativa a identificar talentos y potenciales carreras profesionales. Con un enfoque moderno y sencillo, este test ofrece resultados personalizados que te acercan a tu verdadera vocación en solo minutos. ¿Estás listo para descubrir el camino profesional que te espera?	
			</p>
			<a href="#_" class="mt-8 font-onest relative p-0.5 inline-flex items-center justify-center font-bold overflow-hidden group rounded-md">
				<span class="w-full h-full bg-gradient-to-br from-[#ff8a05] via-[#ff5478] to-[#ff00c6] group-hover:from-[#ff00c6] group-hover:via-[#ff5478] group-hover:to-[#ff8a05] absolute"></span>
				<span class="relative px-6 py-3 transition-all ease-out bg-gray-900 rounded-md group-hover:bg-opacity-0 duration-400">
				<span class="relative text-white">Iniciar mi Test</span>
				</span>
			</a>
		</div>
	</div>
	<div class="absolute -top-20 left-0 right-0 translate-x-3/4 w-96 h-80 bg-pink-400/60 rounded-full blur-3xl rotate-9 mix-blend-multiply -z-10"></div>
	<div class="absolute -top-20 left-0 right-0 translate-x-2/4 w-1/3 h-80 bg-yellow-300/60 rounded-full blur-3xl rotate-12 mix-blend-multiply -z-10"></div>
</LandingPLayout>
