---
import PrismaLayout from "../../layouts/PrismaLayout.astro";
---

<PrismaLayout title="Form">
    <div class="rounded-lg p-4 shadow-lg bg-slate-50">
        <div class="flex">
            <h1 class="text-4xl font-bold from-purple-500 via-pink-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent mb-1">Career Aptitude Test </h1>
            <p class="text-4xl"> 🎓</p>
        </div>
        <p class="text-base">Adjust the Sliders and Checkboxes for Career Suggestions</p>

        <div class="flex">
            <div class="flex flex-col">
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Artistic</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Interpersonal</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Communication</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Managerial</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Mathematics</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Mechanical</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
                <div class="" style="max-width:300px;">
                    <div class="price-range p-4">
                        <span class="text-sm"> Science</span>
                        <input class="w-full accent-indigo-600" type="range" name="" value="300" min="0" max="1000"/>
                        <div class="-mt-2 flex w-full justify-between">
                        <span class="text-sm text-gray-600">None</span>
                        <span class="text-sm text-gray-600">High</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto w-full max-w-screen-xl flex justify-end">
            <button class="text-red
            flex break-inside bg-black text-white border-2 border-transparent rounded-3xl px-6 py-3 mb-4 
            dark:bg-slate-800 dark:text-white
            hover:before:bg-red border-red-500
            relative h-[50px]
            w-40
            overflow-hidden
            transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full
            before:w-0
            before:bg-red-500 before:transition-all before:duration-500 hover:text-white
            hover:shadow-red-500 hover:before:left-0 hover:before:w-full"
            ><span class="relative z-10">Continue</span></button>
        </div>
    </div>
</PrismaLayout>
