---
import PrismaLayout from "../../layouts/PrismaLayout.astro";
---



<PrismaLayout title="Registro">

    
    
    <div class="max-w-screen-lg">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-neutral-950 size-20" viewBox="0 0 50 50"><path d="M 19.9375 12.96875 C 19.414063 12.988281 18.921875 13.214844 18.5625 13.59375 L 8.6875 23.59375 L 7.3125 25 L 8.6875 26.40625 L 18.5625 36.40625 C 19.339844 37.199219 20.613281 37.214844 21.40625 36.4375 C 22.199219 35.660156 22.214844 34.386719 21.4375 33.59375 L 14.90625 27 L 40 27 C 40.722656 27.011719 41.390625 26.632813 41.753906 26.007813 C 42.121094 25.386719 42.121094 24.613281 41.753906 23.992188 C 41.390625 23.367188 40.722656 22.988281 40 23 L 14.90625 23 L 21.4375 16.40625 C 22.039063 15.824219 22.21875 14.933594 21.882813 14.164063 C 21.546875 13.398438 20.773438 12.921875 19.9375 12.96875 Z"/></svg>
        </a>
        <div>
            <h1 class="text-5xl font-bold from-purple-500 via-pink-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent mb-1">Es tu momento de <span class="">brillar!</span></h1>
            <h2 class="text-lg mb-5">
                <span class="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-[length:100%_2px] bg-no-repeat bg-[bottom]">Cada persona</span>, como un prisma, <span class="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-[length:100%_2px] bg-no-repeat bg-[bottom]">tiene múltiples facetas y colores por descubrir.</span> 
            </h2>
            <p class="mb-5">
                Para que puedas explorar el camino que mejor refleja tu esencia, necesitamos algunos detalles básicos sobre ti. 
            </p>
            <h3 class="mb-5 text-xl font-semibold">¿Por qué te lo pedimos?</h3>
            <p>
                Queremos entender mejor qué carreras y talentos se buscan en cada rincón del país, y así ayudar a otros como tú a encontrar su vocación. ¡Tu información es parte de algo más grande!
            </p> 
        </div>
        <div class="mt-8 mb-10">
            <form class="w-full max-w-screen-md grid gap-4" >
                <div class="grid gap-2">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Juan Lopez" class="px-4 py-1 border-2 border-neutral-700 rounded-lg bg-transparent">
                </div>
                <div class="grid gap-2">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Juan Lopez" class="px-4 py-1 border-2 border-neutral-700 rounded-lg bg-transparent">
                </div>
                <div class="grid gap-2">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Juan Lopez" class="px-4 py-1 border-2 border-neutral-700 rounded-lg bg-transparent">
                </div>
            </form>
        </div>
    
    
        <div>
            <p class="text-sm"> 
                Tu privacidad es importante para nosotros. Tus datos estarán protegidos y jamás compartidos con terceros. Si quieres conocer más sobre cómo los cuidamos, puedes leer nuestro <a class="underline text-rose-600" href="/test-vocacional/aviso-de-privacidad">aviso de privacidad</a>. 
            </p>
        </div>
        
    </div>

    

</PrismaLayout>   
